/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--font-roboto: "Roboto", sans-serif;
	--font-roboto-mono: "Roboto Mono", monospace;
	--font-roboto-slab: "Roboto Slab", serif;
	--color-blue: #4763cf;
	--color-dark-blue: #00008b;
	--color-darkest-blue: #001150;
	--color-black: #000000;
	--color-white: #fff1ff;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
	font-family: var(--font-roboto-mono);
}

a {
	text-decoration: none;
	color: var(--color-black);
}

/* ====================== HOME PAGE ==================== */
/* ---------------- HEADER ---------------- */

.header-container {
	display: grid;
	grid-template-rows: 50px 90px;
	grid-template-columns: 1fr;
}

.social-medias-container {
	width: 100%;
	display: grid;
	background-color: var(--color-blue);
}

.social-medias {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;
}

.social-medias i {
	color: var(--color-white);
	transition: color 0.5s;
}

.social-medias i:hover {
	color: #00038d;
}

.logo-about-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

.img-logo-container a img {
	width: 100%;
}

.logo-about-container .about-me {
	font-size: 1.6rem;
	font-weight: bold;
	border-bottom: 1px solid var(--color-black);
}

/* ------------ MAIN -------------- */
.home-main {
	width: 100%;
	height: calc(100vh - 140px);
	display: grid;
}

.home-info-container {
	background: url("../assets/imgs/computer.png") center/cover no-repeat;
	width: 100%;
	padding: 0 3rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-info {
	height: 75%;
	display: grid;
	grid-template-rows: 2fr 1fr;
}

.home-info p {
	font-size: 2rem;
	text-align: center;
	color: var(--color-white);
}
.home-info a {
	width: 13rem;
	height: 5rem;
	padding: 13px 20px;
	font-size: 1.6rem;
	display: block;
	place-self: end center;
	border: 1px solid var(--color-white);
	color: var(--color-white);
	transition: all 0.5s;
}

.home-info a:hover {
	background-color: #001150;
	box-shadow: 2px 2px 6px 2px var(--color-dark-blue), -2px -2px 6px 2px var(--color-dark-blue);
	border: 1px solid var(--color-dark-blue);
}

/* ====================== HOME PAGE ==================== */

/* ====================== BLOGS PAGE ==================== */
/* ------------ MAIN --------- */
.blogs-main {
	width: 100%;
	display: grid;
}

.blogs-recommended-container {
	padding: 1rem 3rem 2rem;
	display: grid;
	background-color: #e6e9ed;
}

.blogs-recommended--left {
	padding: 1rem 0;
}

.blogs-recommended--left h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.blogs-img-container img {
	width: 100%;
	border-radius: 1rem;
}

.blogs-img-container a:hover,
.blogs-article a:hover {
	border-bottom: 1px solid #000;
}

.blogs-recommended--right {
	display: grid;
}

.blogs-recommended--right h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
}

.blogs-recommended--right p {
	margin-bottom: 4rem;
	font-size: 1.3rem;
}

section .blogs__link {
	/* position: absolute; */
	/* bottom: 0; */
	width: 10rem;
	height: 4rem;
	padding: 10px 20px;
	font-size: 1.2rem;
	display: block;
	border: 1px solid var(--color-blue);
	border-radius: 0.6rem;
	transition: all 0.5s;
}

section .blogs__link:hover {
	background-color: var(--color-darkest-blue);
	box-shadow: 3px 4px 6px 2px var(--color-dark-blue), -2px -2px 6px 2px var(--color-dark-blue);
	color: var(--color-white);
}

/* ---- Articles ---- */
.blogs-articles-container {
	padding: 1rem 3rem 8rem;
	display: grid;
	row-gap: 2rem;
}

.blogs-articles-container h2 {
	padding-bottom: 1rem;
	font-size: 1.8rem;
	text-align: center;
	border-bottom: 1px solid #d6d9dd;
}
/* ---- */
.blogs-articles-section {
	display: grid;
	row-gap: 2rem;
}
/* ---- */
.blogs-article {
	padding: 1rem;
	border: 2px solid var(--color-blue);
	border-radius: 0.8rem;
}

.blogs-article img {
	width: 100%;
	border-radius: 1rem;
}

.blogs-article h3 {
	font-size: 1.5rem;
	margin: 1.5rem 0 1rem;
}

.blogs-article p {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

/* .blogs-article .blogs__link {
	bottom: 10px;
} */

/* ---- FOOTER ---- */
.footer-container {
	width: 100%;
	height: 8vh;
	display: grid;
	place-items: center;
	background-color: var(--color-black);
	border-top: 20px solid var(--color-blue);
}

.footer-container .copyright {
	text-align: center;
	color: var(--color-white);
}

.copyright a {
	color: var(--color-white);
}

/* ====================== BLOGS PAGE ==================== */

/* ====================== BLOG PAGE ==================== */
/* -------------- MAIN ----------- */
.blog-main {
	width: 100%;
	display: grid;
	row-gap: 20px;
}

.blog-img-section {
	padding: 0 3rem 2rem;
}

.blog-img-container img {
	width: 100%;
	border-radius: 1rem;
}

.blog-img-container a:hover {
	border-bottom: 1px solid var(--color-black);
}

/* ---- Info container ---- */

.blog-info-container {
	padding: 0 3rem 2rem;
}

.blog-info-container h2 {
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: 1px solid #c3c6ca;
}

.blog-info-container h1 {
	margin: 2rem 0;
	font-size: 1.8rem;
}

.blog-info-container p {
	font-size: 1.3rem;
}

/* ---- Lets talk container ---- */

.lets-talk-container {
	padding: 2rem 3rem;
	display: grid;
	row-gap: 20px;
	background-color: #e6e9ed;
}

.write-info-container,
.contac-info-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 10px;
}

.contact-info a {
	font-size: 1.4rem;
	font-weight: bold;
	border-bottom: 1px solid var(--color-black);
}

.contact-info p {
	margin-top: 1rem;
}

.img-container img {
	width: 80%;
}

/* ====================== BLOG PAGE ==================== */
