/* ---------------------- TABLET ------------------ */
@media screen and (min-width: 768px) {
	/* ---- HEADER ---- */
	.social-medias {
		width: 300px;
		justify-self: end;
		margin-right: 5rem;
	}

	.img-logo-container {
		justify-self: start;
		margin-left: 5rem;
	}

	.img-logo-container a img {
		width: 220px;
	}

	.logo-about-container .about-me {
		justify-self: end;
		margin-right: 6rem;
		font-size: 2rem;
	}

	/* ---- MAIN ---- */
	.profile-introduction-container {
		padding: 3rem 8rem;
	}
	.profile-introduction__info-container h1 {
		margin: 2rem 0;
		font-size: 2.5rem;
	}

	.profile-introduction__info-container p,
	.profile-project p {
		font-size: 1.5rem;
	}

	.profile-projects-section {
		padding: 4rem 10rem;
	}

	.profile-projects-section h2 {
		font-size: 2.2rem;
	}

	.profile-projects-container {
		padding-top: 3rem;
	}

	.profile-project h3 {
		font-size: 1.8rem;
	}

	.lets-talk-container {
		padding: 2rem 10rem;
	}

	.contac-info-container,
	.write-info-container {
		grid-template-columns: 1fr 3fr;
	}

	.contact-info p {
		font-size: 1.3rem;
	}

	.img-container {
		display: flex;
		justify-content: center;
	}

	.img-container img {
		width: 60%;
	}

	/* --- FOOTER --- */
	.footer-container {
		height: 120px;
		border-top-width: 30px;
	}

	.footer-container p {
		font-size: 1.4rem;
	}
}
/* ---------------------- DESKTOP ------------------- */
@media screen and (min-width: 1440px) {
	/* --- MAIN ---- */
	.profile-introduction-container {
		padding: 5rem 15rem;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}

	.profile-introduction__img-container {
		display: grid;
		justify-items: center;
	}

	.profile-introduction__img-container figcaption {
		font-size: 1.4rem;
	}

	.profile-introduction__img-container img {
		width: 80%;
	}

	.profile-introduction__info-container h1 {
		margin: 1rem 0;
		font-size: 4.5rem;
	}

	.profile-introduction__info-container p,
	.profile-project p {
		font-size: 2.5rem;
	}

	.profile-projects-section {
		padding: 8rem 20rem;
	}

	.profile-projects-section h2 {
		font-size: 3.3rem;
	}

	.profile-projects-container {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 30px;
	}

	.profile-project h3 {
		font-size: 2.8rem;
	}

	.lets-talk-container {
		grid-template-columns: repeat(2, 1fr);
		padding: 10rem 35rem;
	}

	.img-container img {
		width: 80%;
	}

	.contact-info a {
		font-size: 2.4rem;
	}

	.contact-info p {
		margin-top: 2rem;
		font-size: 2rem;
	}

	/* ---- FOOTER ---- */
	.footer-container {
		height: 150px;
	}
	.footer-container p {
		font-size: 2rem;
	}
}
